/* resources/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #343a40;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Aligne la navigation à droite */
}

nav a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
}

.dashboard-section {
    margin: 20px 0;
}

.dashboard-section h2 {
    margin-bottom: 10px;
    color: #007bff;
}

.dashboard-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.dashboard-section table, .dashboard-section th, .dashboard-section td {
    border: 1px solid #ddd;
}

.dashboard-section th, .dashboard-section td {
    padding: 10px;
    text-align: left;
}

.dashboard-section th {
    background-color: #f1f1f1;
}
